[submodule "Kalman_Filter_Python_for_mpu6050"]
	path = Kalman_Filter_Python_for_mpu6050
	url = https://github.com/rocheparadox/Kalman-Filter-Python-for-mpu6050.git
[submodule "Kalman-Filter-Python-for-mpu6050"]
	path = Kalman_Filter_Python_for_mpu6050
	url = https://github.com/rocheparadox/Kalman-Filter-Python-for-mpu6050.git
